<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
 
 The title of the document should be "Movie Finder". You should have the title set as the <title> element of the HTML document and as an h1 in your document.

Your page should reference a CSS file, /public/css/styles.css; this file should have at least 10 rulesets you must use at least 5 of them on this page. 


 -->


    <h1>Movie Finder</h1>
        <p style="padding-left: 10px">This is a Movie Finder App. Search for keywords of ay movie and get results. Also get more details on each movie by clicking the title or poster.</p>
        <form method ="POST" action="/searchmovies">
            <label for ="searchMoviesByName">Enter a title/keyword</label>
            <input type = "text" name="searchMoviesByName" id = "searchMoviesByName">
            <input type="submit" value="Submit" />
        </form>



