{{!--

registration handelbars

--}}

<form action="/register" method="POST" id="signup-form" name="signup-form">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" ><br>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" ><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" ><br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" ><br>

        <label for="confirmpassword">Confirm Password</label>
        <input type="password" id="confirmpassword" name="confirmpassword" ><br>

        <label for="favoriteQuote">Favourite Quote</label>
        <input type="text" id="favoriteQuote" name="favoriteQuote" ><br>

        <label for="themePreference">Theme Preference:</label>
        <select id="themePreference" name="themePreference">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select><br>

        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select><br> <br> 

        <div id="error">

        </div>
        <input type="submit" value="Register" id="submitButton" name="submitButton"> 
    </form>
        <script src="/public/js/client_side_validation.js"></script>
